:root {
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-grey: hsl(217, 12%, 21%);
  --dark-blue: hsl(213, 19%, 18%);
  --darker-blue: hsl(210, 21%, 15%);
  --very-dark-blue: hsl(216, 12%, 8%);
  --orange: hsl(25, 97%, 53%);
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--very-dark-blue);
  font-family: "Overpass", sans-serif;
}

.rating-card {
  /* display: none; */
  background-color: var(--darker-blue);
  padding: 4ch;
  border-radius: 20px;
}

.rating-icon {
  display: inline-block;
  padding: 15px 16px 13px 16px;
  margin-bottom: 1ch;
  position: relative;
  border-radius: 50%;
  background-color: var(--dark-blue);
}

.rating-title {
  color: var(--white);
  font-size: 1.7rem;
  font-weight: 700;
}

.rating-description {
  color: var(--light-grey);
  max-width: 34ch;
  font-size: 15px;
  line-height: 2.5ch;
}

.rating-scale {
  display: flex;
  justify-content: space-between;
  margin: 2.5ch 0;
}

.rating-scale-btn {
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-weight: 700;
  background-color: var(--dark-grey);
  color: var(--light-grey);
}

.rating-scale-btn-number {
  margin: 15px;
}

.hover-scale-btn:hover {
  background-color: var(--medium-grey);
  color: var(--white);
}

.active-scale-btn {
  background-color: var(--orange);
  color: var(--white);
}

.rating-submit-btn {
  padding: 1ch;
  border-radius: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: var(--orange);
  color: var(--white);
}

.rating-submit-btn:hover {
  opacity: 0.9;
}

.rating-submit-btn:active {
  background-color: var(--white);
  color: var(--orange);
}

.thank-you-card {
  display: flex;
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 3ch;
  border-radius: 20px;

  background-color: var(--darker-blue);
}

#thank-you-card-image {
  margin: 0 0 2em 0;
}

.selected-rating {
  padding: 0.5ch;
  border-radius: 20px;
  background-color: var(--dark-grey);
  color: var(--orange);
}

.thank-you-title {
  color: var(--white);
  margin-top: 2ch;
}

.thank-you-description {
  max-width: 35ch;
  margin: 0;
  text-align: center;
  color: var(--light-grey);
}

.attribution {
  font-size: 11px;
  margin-top: 1em;
  color: var(--medium-grey);
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 375px) {
  .rating-card {
    padding: 2ch;
  }

  .rating-title {
    font-size: 1.4rem;
  }

  .rating-description {
    font-size: 0.8rem;
    max-width: 32ch;
  }

  .rating-scale-btn {
    width: 45px;
    height: 45px;
  }

  .rating-scale-btn-number {
    margin: 14px;
  }

  .rating-submit-btn {
    font-size: 0.8rem;
  }

  .thank-you-description {
    font-size: 0.8rem;
  }
}
